@use "./util";
@use "./queries";

body {
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    color: util.$colorTxtMain;
    font-family: util.$fontFamily;
    margin: 0;
    padding: 0;
}

.header {
    @include util.boxy(100%, 20px, 50px, flex);
    background-color: util.$bgColor;
    justify-content: space-between;
    align-items: center;

    @include queries.respond("medium") {
        //media query 51.25em
        padding: 15px;
    }

    &__logo {
        width: 20%;

        @include queries.respond("medium2") {
            //media query 750px
            width: 25%;
        }

        @include queries.respond("small") {
            //media query 550px
            width: 30%;
        }

        @include queries.respond("small2") {
            //media query 480px
            width: 45%;
        }
    }

    &__icon {
        width: 35px;
        cursor: pointer;
        display: inline-block;
    }

    &__icon-container {
        @include queries.respond("medium") {
            width: 30px;
        }
    }

    &__cart {
        position: relative;
        display: inline-block;
    }

    &__cart-badge {
        position: absolute;
        top: -3px;
        right: -4px;
        background-color: util.$cartBadge;
        color: util.$bgColorSecondary;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-size: 12px;
        font-weight: 500;
    }

    &__menu {
        @include util.boxy(200px, 25px, 25px, block);
        background-color: util.$bgColorSecondary;
        height: 100%;
        position: fixed;
        left: -140%;
        top: 100px;
        @include util.boxShadow(19px, -1px, 22px, -15px);
        z-index: 1;
        transition: all 0.25s ease;

        &.show {
            left: 0;
        }
    }

    &__util-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__close {
        width: 30px;
        @media (hover: hover) {
            &:hover {
                cursor: pointer;
            }
        }
    }

    &__svg {
        fill: util.$colorTxtMain;
    }

    &__list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    &__listItem {
        font-size: 1.1rem;

        a {
            text-decoration: none;
            color: util.$colorTxtMain;
            margin-bottom: 8px;
            @include util.hoverLinkUnderline(-5px, 0%, null);
        }
    }
}

.banner {
    @include util.boxy(100%, 60px, 0px, block);
    @extend %txtCntr;
    background-image: url("../img/bm-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: util.$colorTxtMain;
    //background-position-y: 50%;
    background-position: center -200px;
    background-attachment: fixed;

    @include queries.respond("small2") {
        //media query 480px
        padding: 30px 0;
    }

    &__title {
        width: 100%;
        font-weight: 600;
        font-size: 30px;
        margin: 10px 0;
        color: util.$colorTxtSecondary;

        @include queries.respond("small") {
            //media query 550px
            font-size: 25px;
            margin: 7px;
        }

        @include queries.respond("small2") {
            //media query 480px
            font-size: 19px;
        }
    }

    &__txt {
        width: 100%;
        margin: 0 auto;
        font-size: 25px;
        opacity: 0.7;
        color: util.$colorTxtSecondary;

        @include queries.respond("small2") {
            //media query 480px
            font-size: 16px;
            opacity: 0.8;
        }
    }
}

.products {
    @include util.boxy(80%, 20px, 20px, grid);
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    @include util.cardHover(".products__card", h3, p);

    @include queries.respond("medium") {
        //Media Query (51.25em)
        @include util.gridProducts(repeat(auto-fit, minmax(200px, 1fr)));
    }

    @include queries.respond("small2") {
        //media query 480px
        @include util.gridProducts(1fr);
        padding: 10px;
    }

    &__card {
        @extend %txtCntr;
    }

    &__img {
        width: 200px;
        margin: 15px;

        @include queries.respond("medium") {
            //media query 51.25em
            width: 150px;
        }

        @include queries.respond("small2") {
            //media query 480px
            width: 100%;
            max-width: 200px;
            margin-bottom: 10px;
        }
    }

    &__title {
        font: util.$fontFamily;
        font-weight: 500;
        font-size: 17px;
        margin: 5px;
        display: -webkit-box; // Estas líneas "webkit" son para que el texto se mantenga en una línea
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        @include queries.respond("small2") {
            padding: 0 10px;
        }
    }

    &__txt {
        font-size: 15px;

        @include queries.respond("small2") {
            padding: 0 10px;
        }
    }

    &__button {
        @include util.btn2(
            util.$bgColorSecondary,
            util.$colorTxtMain,
            util.$colorTxtMain,
            8px,
            8px
        );

        @include util.hoverButton(
            util.$bgColor,
            util.$bgColorSecondary,
            util.$bgColor,
            500
        );
    }
}

.cart {
    //Esto es para el carrito de compras que se encuentra escondido hacia la izquierda
    @include util.boxy(500px, 25px, 25px, block);
    //flex-direction: column;
    @include util.scrollable(100%);
    background-color: util.$bgColorSecondary;
    height: 650px; //650px seems to work
    z-index: 1;
    position: fixed;
    right: -100%;
    top: 100px;
    @include util.boxShadow(-19px, -1px, 22px, -15px);
    transition: all 0.25s ease;

    @include queries.respond("height1") {
        height: 500px;
    }

    @supports (-webkit-box-reflect: below) {
        height: 715px;
    }

    &.show {
        right: 0;
    }

    @include queries.respond("medium") {
        //media query 51.25em
        width: 400px;
        top: 80px;
    }

    @include queries.respond("small2") {
        //media query 480px
        width: 100%;
        box-shadow: none;
    }

    &__util {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__close {
        width: 30px;

        @media (hover: hover) {
            &:hover {
                cursor: pointer;
            }
        }
    }

    &__svg {
        fill: util.$colorTxtMain;
    }

    &__title {
        box-sizing: border-box;

        @include queries.respond("small2") {
            //media query 480px
            padding: 15px 0;
        }
    }

    &__item {
        @include util.boxy(100%, 15px, 15px, flex);
        border-bottom: 1px solid util.$borderColor;
        justify-content: space-between;
        align-items: center;

        @include queries.respond("small2") {
            //media query 480px
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
        }
    }

    &__img {
        width: 60px;

        @include queries.respond("small2") {
            width: 100px;
        }
    }

    &__txt {
        font-size: 15px;
        font-weight: 300;
        width: 125px;
        display: -webkit-box; // Estas líneas "webkit" son para que el texto se mantenga en una línea
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        @include queries.respond("small2") {
            margin: 0;
        }
    }

    &__txt--price {
        font-weight: 500;

        @include queries.respond("small2") {
            margin: 0;
        }
    }

    &__icon-container {
        width: 25px;
        cursor: pointer;
    }

    &__icon-delete {
        width: 100%;
    }

    &__button-container {
        display: flex;
        justify-content: center;
    }

    &__button-container {
        margin: 1em 0 0.5em 0;
    }

    &__buy {
        font-weight: 600;
        @include util.btn2(
            util.$bgColor,
            util.$bgColorSecondary,
            util.$bgColorSecondary,
            8px,
            10px
        );

        @include util.hoverButton(
            util.$bgColorSecondary,
            util.$colorTxtMain,
            util.$colorTxtMain,
            600
        );
    }
}

.footer {
    width: 80%;
    padding: 20px 20px;
    margin: 0 auto;
    box-sizing: border-box;

    &__inner {
        display: flex;
        box-sizing: border-box;
        justify-content: flex-start;
        gap: 3rem;
        margin: 2rem 0;
        padding: 2rem 0;
        @include util.borders;
        flex-wrap: wrap;

        @include queries.respond("medium1") {
            gap: 2rem;
        }

        @include queries.respond("small2") {
            flex-direction: column;
            gap: 3rem;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
        @include util.reset(h3, p, ".footer__link", ".footer__list");
    }

    &__btn {
        @include util.btn;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__media {
        color: util.$colorTxtMain;
    }

    &__link {
        text-decoration: none;
        color: util.$colorTxtMain;
        @include util.hoverLinkUnderline(-3px, 50%, -50%);
    }
}
